NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_WORKSPACE_ID=personal-journal
NEXT_PUBLIC_DONATION_BTC=14DZLvtV9pjbXSGcNr1aagXJThPJygtqPW
NEXT_PUBLIC_DONATION_ETH=0x7d7f1e9148960eacd3226d991526a41cf7760d37
NEXT_PUBLIC_DONATION_SOL=89Zh4EqWFbh3wqkfPTzAJr7ndc4DP9pbLKSWEFaZ6rhB
NEXT_PUBLIC_DONATION_USDT_TRC20=TMCtvNo8Vp89R1wRmQES5sFq1WWBpLAsVD
